@use '../helpers' as *;

.footer {
  @include flex-center;

  position: relative;
  flex-shrink: 0;
  padding: clamp(12px, 2.5vw, 15px) clamp(12px, 2.5vw, 20px);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--bg-light);
  }

  &__link {
    display: flex;
    gap: clamp(6px, 1vw, 8px);
    align-items: center;
    padding: clamp(6px, 1vw, 8px) clamp(12px, 2vw, 16px);
    color: var(--text);
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease, color 0.2s ease;

    @include hover {
      background-color: var(--primary);
      color: var(--bg);
    }

    @include focus-visible-no-typing;
  }

  &__icon {
    @include square(clamp(20px, 3vw, 24px));

    flex-shrink: 0;
  }

  &__text {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
  }
}
