@use '../helpers' as *;

.footer {
  @include flex-center;

  position: relative;
  flex-shrink: 0;
  padding: 20px var(--container-padding-x);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--bg-light);
  }

  &__link {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    color: var(--text);
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--primary);
      color: var(--bg);
    }

    @include focus-visible-no-typing;
  }

  &__icon {
    @include square(24px);

    flex-shrink: 0;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
  }
}
