@use '../helpers' as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--container-padding-x);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--bg-light);
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__icon {
    flex-shrink: 0;
    color: var(--primary);
  }

  &__title {
    @include fluid-text(36, 20);

    font-weight: 500;
    line-height: 1.2;
    color: var(--text);
  }
}
